@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.modal {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  padding: 20px;
  margin: 10px
}

.screenone {
  width: 100%;
  height: 100vh;
  background-color: #41bbd9;
  margin: 0;
  padding: 0;
}

.screentwo {
  width: 100%;
  height: 100vh;
  background-color: #E1B42B;
  margin: 0;
  padding: 0;
}

#legal {
  padding: 10px;
  margin: 10px;
  max-width: 1250px;
}

.legal-text {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.vendorList {
  font-size: 15px;
  line-height: 25px;
}

#listOfVendors {
  background-color: #808080;
  overflow: auto;
  width: 95%;
  height: 320px;
  padding: 15px;
}

#parent-list {
  list-style: none;
}

.body-text {
  text-align: center;
  color:#006e90;
  padding: 50px;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: #E1B42B;
}

a:active {
  color: blue;
}

/* responsive part  */


@media only screen and (max-width: 600px) {

  #legal {
    margin:0;
    padding: 0;
  }

  .modal-content{
    top: 50%;
    overflow: auto;
  }

  .legal-text {
    font-size: 11px;
    line-height: 12px;
  }
  #listOfVendors {
    height: 120px;
    padding: 15px;
  }
  h2 {
    font-size:15px;
  }
  h3 {
    font-size: 12px;
  }

  .vendorList {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 600px) {

    #legal {
      margin:0;
      padding: 0;
    }

    .legal-text {
      font-size: 13px;
      line-height: 15px;
    }
    #listOfVendors {
      height: 160px;
      padding: 15px;
    }
    h2 {
      font-size:18px;
    }
    h3 {
      font-size: 16px;
    }

    .vendorList {
      font-size: 15px;
      line-height: 20px;
    }
}

@media only screen and (min-width: 992px) {
  #legal {
    margin:10px;
    padding: 10px;
  }

  .legal-text {
    font-size: 15px;
    line-height: 18px;
  }
  #listOfVendors {
    height: 180px;
    padding: 15px;
  }
  h2 {
    font-size:20px;
  }
  h3 {
    font-size: 18px;
  }

  .vendorList {
    font-size: 15px;
    line-height: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
