/* toggle button  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-handle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch-handle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.switch-handle {
  background-color: #E1B42B;
}

input:focus+.switch-handle {
  box-shadow: 0 0 1px #E1B42B;
}

input:checked+.switch-handle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* accept and reject button */

#accept {
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 15px;
  background-color: #E1B42B;
  font-size: 16px;
}

#reject {
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 15px;
  background-color: lightgray;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .switch {
    width: 50px;
    height: 24px;
  }

  .switch-handle:before {
    height: 16px;
    width: 16px;
  }
}
